<%- include("partials/header"); -%>
<%- include("partials/navigation"); -%>

<h2><%=title%></h2>
<p><%=message%></p>
<form action="<%=link%>" method="get"> 
    <button type="confirm">Back</button>
</form>

<%- include("partials/footer"); -%>