<%- include("partials/header") -%>
<%- include("partials/navigation") -%>

<%- include("partials/search-books"); -%>

<div class="bg-light">
    <% if(results.length === 0) { %>
        <div class="text-center bg-dark-brown p-5">
            <h3>No results found.</h3>
            <h4>Please try again.</h4>
        </div>
    <% } else {%>
        <div class="mx-auto w-75 p-5">
            <h2>Results for: <%=keyword%></h2>
            <% for(var i = 0; i < results.length; i++){ %>
            <%  var book = results[i];    %>
                <div class="table-row">
                    <a  href="/book-info?bookId=<%=book._id%>"><h4><%=book.title%></h4></a>
                    <h4>by <%=book.author%></h4>
                    <h4>ISBN: <%=book.isbn%></h4>
                </div> 
                <hr />
            <% } %>
        </div>
    <% } %>
</div>

<%- include("partials/footer") -%>