<%- include("partials/header"); -%>
<%- include("partials/navigation"); -%>

<h2 class="text-center display-4 p-5">Transactions</h2>

<div class="ml-auto mr-auto w-75">
   <div>
        <% if(results.length === 0) { %>
            <div>
                <p>No transactions found.</p>
            </div>
        <% } else {%>
            <div class="row bg-dark text-light">
                <h3 class="table-item col-3">Title</h3>
                <h3 class="table-item col-2">Author</h3>
                <h3 class="table-item col-2">ISBN</h3>
                <h3 class="table-item col-2">Borrowed</h3>
                <h3 class="table-item col-2">Returned</h3>
            </div>
        <% for(var i = 0; i < results.length; i++){ %>
        <%      var transaction = results[i];    %>
                <div class="row bg-light">
                    <h4 class="table-item col-3"><%=transaction.book.title%></h4>
                    <h4 class="table-item col-2"><%=transaction.book.author%></h4>
                    <h4 class="table-item col-2"><%=transaction.book.isbn%></h4>
                    <h4 class="table-item col-2"><%=transaction.dateBorrowed%></h4>
                <% if(transaction.isReturned === false) {  %>
                    <form action="/return-book?transactionId=<%=transaction._id%>?bookId=<%=transaction.book._id%>" method="post">
                        <button type="submit">Return</button>
                    </form>
                <% } else { %>
                    <h4 class="table-item col-2"><%=transaction.dateReturned%></h4>
                <% } %>
                </div>
        <% }} %>
    </div>

</div>

<%- include("partials/footer"); -%>